h1 {
    color: darkblue;
  }
  
  body{
    background-color: rgb(177, 214, 235);
    font-size: 16px;
    font-family: Arial;
    text-align: center;
  }
  
  p{
    color: darkgreen
  }
  
  h2{
    color: rgb(22, 142, 216)
  }
  
  h3{
    color: rebeccapurple
  }
  
  img{
    margin:10px; height: 160px;
  }